.b-election-container {
  margin: 3rem 0;
}

.e-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.e-title {
  margin-top: 3rem !important;
  text-align: center;
}

.rdtPicker {
  background-color: #424242 !important;
}
